# dependencies
node_modules/

# local env files
.env*.local

# test output
coverage/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# moldable
.moldable.instances.json

dist/
.vite/
build/
out/
.moldable.port
.moldable.install.json
.moldable.migrations.json
