# Vite
dist/
.vite/

# Dependencies
node_modules/

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# Moldable
.moldable.instances.json

# Local data
data/

build/
out/
.moldable.port
.moldable.install.json
.moldable.migrations.json
